# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\FPT Polytechnic\FPL-2024-FALL\SOF203_SD19311\FALL24_BL1_SOF203_SD19311\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
